body{
    background: radial-gradient(#e5e5e5, #ffff, #e5e5e5);
}
.card{
    text-align: center;
    width: 20rem;
}
.card:hover{
    box-shadow: 5px 10px 20px 1px rgba(0, 0, 0, 0.253);
}
.card-body{
    padding: 3rem 0;
}
.card-text{
    font-size: 0.9rem;
    padding: 0.4rem 1.9rem;
}
.container .row{
    padding-top: 6rem;
}
.row{
    display: flex;
    justify-content: center;
}
.card-img{
    height: 180px;
    transform: scale(1);
    transition: transform 0.5s ease;
}
.card-img:hover{
    transform: scale(1.8);
}
.overflow{
    overflow: hidden;
}